@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(252, 245, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(15, 19, 31, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(15, 19, 31, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 357px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(15, 19, 31, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Onest;
  font-weight: 600;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(252, 245, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 24px;
  color: rgba(206, 110, 251, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    padding: 10px 0px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 70px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-size: 20px;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 120px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero\ \(1\).png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-family: Onest;
  font-weight: 900;
  font-size: 56px;
  line-height: 67.2px;
  letter-spacing: 0%;

  color: rgba(206, 110, 251, 1);
}

.home-text {
  font-family: Onest;
  font-weight: 900;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  color: rgba(206, 110, 251, 1);

  width: 253px;
}
.home-text-two {
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 20px 0 40px;
}
.home-text-three {
  font-family: Onest;
  font-weight: 600;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(206, 110, 251, 1);
  padding-bottom: 40px;
  width: 305px;
  margin: auto;
}
.home__google-button_image {
  width: 256px;
  height: 64px;
}
.home__google-button_link {
  margin: auto;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;
    padding: 120px 160px 0px;
    background-image: url("/image/home/Hero.png");
  }

  .home-title {
    font-family: Onest;
    font-weight: 900;
    font-size: 96px;
    line-height: 115.2px;
    letter-spacing: 0%;
  }

  .home-text {
    font-family: Onest;
    font-weight: 900;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
    width: auto;
  }
  .home-text-two {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    width: 736px;
    padding: 40px 0 40px;
  }
  .home-text-three {
    font-family: Onest;
    font-weight: 600;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
    width: auto;
    margin: 0;
  }

  .home__google-button_link {
    margin: 0;
  }
}
.why {
  width: 375px;
  height: 832px;

  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/why/Why\ Choose\ Word\ Bliss_.png");
}
.why-title {
  width: 200px;
}
.why-text {
  font-family: Onest;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  margin-top: 40px;
  border-radius: 32px;
  background: rgba(28, 43, 65, 0.01);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1) inset;
  backdrop-filter: blur(8px);
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 625px;
    padding: 80px 160px 0;
    background-image: url("/image/why/Why\ Choose\ Word\ Bliss_\ \(1\).png");
  }
  .why-title {
    width: auto;
  }
  .why-text {
    font-family: Onest;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    border-radius: 32px;
    width: 736px;
    margin-top: 80px;
  }
}
.reviews {
  width: 375px;
  height: 457px;
  margin: auto;
  padding: 40px 0 40px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;

  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 327px;
  height: 259px;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;

  border-radius: 32px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1) inset;

  backdrop-filter: blur(8px);
}
.reviews-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-text-bold {
  font-family: Onest;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  color: rgba(179, 51, 238, 1);
}
.reviews-text {
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(28, 43, 65, 1);
  padding-top: 16px;
}

.gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }

  .reviews {
    width: 1440px;
    height: 613px;
    padding: 80px 160px;
  }

  .reviews-list {
    padding-top: 80px;
    padding-bottom: 32px;
  }
  .reviews-item {
    margin: 0 16px;
    width: 544px;
    height: 208px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;

    border-radius: 32px;
  }

  .reviews-text-bold {
    font-family: Onest;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  height: 995px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/FAQ.png");
}
.faq-container {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  gap: 22px;
  background: rgba(249, 249, 255, 0.1);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1) inset;
  backdrop-filter: blur(8px);
  border-radius: 32px;
  margin-top: 40px;
}

.faq-question {
  font-family: Onest;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  color: rgba(255, 240, 113, 1);
}

.faq-answer {
  padding-top: 16px;
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 8px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 160px;
    width: 1440px;
    height: 951px;
  }
  .faq-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 928px;
    border-radius: 32px;
    margin: 80px auto 0;
  }

  .faq-question {
    font-family: Onest;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.about-title {
  font-family: Onest;
  font-weight: 900;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  color: rgba(28, 43, 65, 1);
}
.about-title-two {
  color: rgba(252, 245, 255, 1);
}
.features-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 16px;
  background: rgba(255, 100, 1, 1);
  box-shadow: 0px 0px 8px 0px rgba(255, 204, 172, 1) inset;
}
.features-item-two {
  background: rgba(255, 2, 117, 1);
}
.features-item-three {
  background: rgba(179, 51, 238, 1);
}
.features-text-bold {
  font-family: Onest;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}
.features-text {
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 80px 160px;
  }
  .about-title {
    font-family: Onest;
    font-weight: 900;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
  }

  .features-list {
    padding-top: 55px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .features-item {
    width: 256px;
    height: 256px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;

    border-radius: 16px;
  }

  .features-text-bold {
    font-family: Onest;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.footer {
  background: rgba(15, 19, 31, 1);

  color: rgba(255, 255, 255, 1);
  padding: 40px 0px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-text {
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.footer-copyright {
  font-family: Onest;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-text {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Onest;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.policy-terms-container {
  padding: 120px 16px 40px;
  color: rgba(15, 19, 31, 1);
}
.policy-terms-title {
  font-family: Onest;
  font-weight: 900;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
}

.policy-terms-text {
  font-family: Onest;
  font-weight: 600;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Onest;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Onest;
    font-weight: 900;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Onest;
    font-weight: 600;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Onest;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 343px;
  border-radius: 32px;
  padding: 32px;
  background: rgba(15, 19, 31, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Onest;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(241, 238, 233, 1);
}
.cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  width: 256px;
  border-radius: 28px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  border: 1px solid rgba(244, 255, 255, 1);
  background-color: transparent;
  font-family: Onest;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(244, 255, 255, 1);
}
#accept-cookies {
  background: rgba(244, 255, 255, 1);
  color: rgba(12, 18, 112, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    width: 600px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
